body {
  font-family: "DIN Alternate", sans-serif;
  font-size: 16px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.button_color {
  background-color: rgba(79, 70, 229, 1);
}
#slider {
  transition: transform 0.5s ease-in-out;
}

.slider {
  /* margin: 0 20px; */
  overflow: "hidden";
  padding: 2rem 0;
}

.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}
